* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
/* BACKGROUND WITHOUT IMAGE */
body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    background:
        radial-gradient(circle at 20% 20%, #ff003366, transparent 40%),
        radial-gradient(circle at 80% 80%, #0066ff55, transparent 40%),
        linear-gradient(180deg, #05010d, #0a0218);
    color: white;
}
/* NAVBAR */
.navbar {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-text {
     font-family: 'Cinzel', serif;
}
.logo-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-weight: bold; */
}
.navbar nav a {
    margin:  15px;
    text-decoration: none;
    color: #ddd;
}
.search-box {
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    background: rgba(255,255,255,0.1);
    color: white;
}
/* LAYOUT */
.container {
    display: flex;
    height: calc(100vh - 70px);
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    padding: 40px 20px;
}
.sidebar a {
    display: block;
    margin-bottom: 20px;/*gap between the words*/
    color: #ccc;
    text-decoration: none;
}
/* CONTENT */
.content {
    flex: 1;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
/* GLASS CARDS */
.card {
    height: 500px;
    border-radius: 15px;
    background: rgba(255,255,255,0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    letter-spacing: 1px;
}
/* GLOW EFFECTS */
.red-glow {
    box-shadow: 0 0 25px rgba(255,0,0,0.5);
}

.blue-glow {
    box-shadow: 0 0 25px rgba(0,120,255,0.5);
}
/* FLOAT BUTTON */
.add-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    box-shadow: 0 0 20px red;
}